@import "../../../styles/vars";

.component {
    font-family: $font-family-serif;
    font-size: $font-size-large;
    color: $blue;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    @include rtl {
        font-family: $font-family-main-hebrew;
        font-weight: bold;
    }
}
