@import "../../../styles/vars";

.component{
position: relative;
}
.input{
    outline-color: #00adee;
    outline-width: 1px;
    border: none;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: normal;
    padding-left: 10px;
   
    &:hover {
        
    }
    &:focus{
        
    }
}
.large{
    width: 356px;
    height: 30px;
    border: 1px solid #bfd0d7;
    border-radius: 3px;
    box-sizing: border-box;
}
.medium{
    width:150px;
    height: 30px;
    border: 1px solid #bfd0d7;
    border-radius: 3px;
    box-sizing: border-box;
}
.small{
    width:130px;
    height: 30px;
    border: 1px solid #bfd0d7;
    border-radius: 3px;
    box-sizing: border-box;
}
.icon{
    position: absolute;
    right: 10px;
    top:3px;
}
.btn{
    position: absolute;
    right: 40px;
    top:5px;
}
.iconOptinal{
    position: absolute;
    right:  5px;
    top:5px; 
}