@import "../../styles/mixins";

.component {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    height: 30px;
    color: $white;
    background-color: $tag-background;
    font-weight: $font-weight-bold;
    border-radius: $input-border-radius;
    font-size: $font-size-regular;
    align-items: center;

    @include padding(5px, null, 5px, 10px);

    &:hover {
        box-shadow: $tag-box-shadow;
    }

    &.active {
        background-color: $tag-active-background;
    }
}
