
.component {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.spaceHolder {
    width: 54px;
    display: flex;
    justify-content: center;
}

.spaceHolderBig {
    width: 150px;
}
