@import "../../../../styles/vars.scss";

.component {
    margin: 2px 7px;
    display: flex;
<<<<<<< HEAD
    height: 40px;
    align-items: center;
=======

    //     &:hover {
    //         background-color: rgb(181, 216, 233);

    //    }
>>>>>>> 8d1489a1f2fb70573a66ae6e77f6210a0ec00c0f
}
