@import "../../../styles/vars";

.component {
    height: 30px;
    border-radius: 3px;
    box-shadow: 0 5px 15px 0 rgba(0, 173, 238, 0.15);
    font-size: 14px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.regularFixed {
    width: 120px;
}

.fullWidth {
    width: 100%;
}

.contentWidth {
    width: unset;
}

.regular {
    background-color: #00adee;
    color: white;
}

.stroke {
    background-color: white;
    border: solid 1px #00adee;
    color: #00adee;
}

.roundStrokeIcon {
    width: 30px;
    border-radius: 50%;
    color: $blue;
    border: 2px solid $blue;
    justify-content: center;
}

.active {
    background: #2e4049;
}

.disabled {
    background: #d6dddf;
    opacity: 0.3;
}

.darkTheme {
    &.component {
        height: 40px;
        font-weight: $font-weight-bold;
    }

    &.roundStrokeIcon {
        height: 30px;
    }
}
