@import '../../../styles/_main';

.blocker {
	z-index: 1000001;
	position: fixed;
	top: 0;
	font-size: 1em;
	width : 100%;
	height: 100%;
	background-color: $white8Opacity;
    font-family: $font-family-main;

    &.enter {
    	.panel {
    		width: 0;
    		.opacity {
    			opacity: 0;
    		}
    		&.wide {
    			width: 0;
    		}
    	} 
    }

    &.enterActive {
    	.panel {
    		width: 800px;
    		transition: width 0.5s;
    		.opacity {
    			opacity: 1;
    			transition: opacity 0.4s linear 0.3s;
    		}

    		&.wide {
				width: 1192px;
			}
    	} 
    }

    &.leave {
    	.panel {
    		width: 800px;

    		.opacity {
    			opacity: 1;
    		}

    		&.wide {
				width: 1192px;
			}
    	} 
    }

    &.leaveActive {
    	.panel {
    		width: 0;
    		transition: width 0.5s;
    		.opacity {
    			opacity: 0;
    			transition: opacity 0.4s;
    		}
    		&.wide {
				width: 0;
			}
    	} 
    }
	
	.panel {
		position: fixed;
		bottom: 0;
		left: 0;
		height: calc(100% - 46px);
		background-color: $grey46Opacity;
		width: 800px;
		max-width: 1015px;
		border-style: solid;
		border-width: 1px;
		border-color:  $grey;
		box-shadow: 2px 3px 14px 0px $black8Opacity;
		transition: width 0.8s;

		&.wide {
			width: 1192px;
		}

		.closeButton {
			position: absolute;
			width : 32px;
			height : 32px;
			cursor: pointer;
			right: 10px;
    		top: 20px;
		}

		.focusButton {
			opacity: 0;
		}

		.title {
			position: absolute;
			left: 15px;
		    top: 24px;
		    color: $blue;
		    font-size: 30px;
		    font-weight: 400;
		    line-height: 30px;
		    /*special treatment for IE*/
			opacity: inherit;
		}
	}
}