@import "../../../styles/vars.scss";

.component {
    position: absolute;
    border-radius: 50px;
    min-width: 15px;
    height: 15px;
    background-color: $blue;
    color: $white;
    font-size: $font-size-small;
    font-family: $font-family-main;
    display: flex;
    justify-content: center;
    align-items: center;
    
    top: -5px;
    
    @include position-horizontal(-5px);
}
.component span {
    padding: 2.5px;
}
