/*** Elements' generics ***/

hr {
    max-width: 50px;
    border-width: 3px;
    border-color: $theme;
}

section {
    padding: 50px 0;
}

aside {
    padding: 50px 0;
}

img::selection {
    color: $black;
    background: 0 0;
}

img::-moz-selection {
    color: $black;
    background: 0 0;
}

/*** End - Elements' generics ***/

@import "_lists.scss";
@import "_paragraphes.scss";
