/*** Lists ***/

ul.no-style {
    list-style-type: none;
    padding-left: 20px;
}

ul.fa {
    li:before {
        font-family: 'FontAwesome';
        content: '\f067';
        margin-right: 10px;
        color: $black;
    }
    li {
        margin-left: 20px;
        line-height: 120%;
    }
}


/*** End - Lists ***/
