@import "../../../styles/mixins";

.component {
    position: relative;
    font-family: $font-family-main;
    font-size: $font-size-regular;
    font-weight: $font-weight-regular;
    display: flex;
    align-items: center;
    background: $white;
    border: 1px solid $input-border-grey;
    border-radius: $input-border-radius;
    box-sizing: border-box;
}

.rtl {
    direction: rtl;
}

.ltr {
    direction: ltr;
}

.box {
    @include padding-horizontal(10px,0);

    &.ltr {
        padding: 0 10px;
    }

    &.rtl {
        padding: 10px 0;
    }
}

.fullWidth {
    width: 100%;
}

.large {
    //width: $inputSizeLarge;
    height: 40px;

    &.line {
        .input {
            font-size: 2.2rem;
        }
    }
    
}

.input {
    width: 100%;
    outline: none;
    border: none;
    font-family: $font-family-main;

    @include rtl {
        font-family: $font-family-main-hebrew;
    }

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        @include input-placeholder;
    }
    &::-moz-placeholder { /* Firefox 19+ */
        @include input-placeholder;
    }
    &:-ms-input-placeholder { /* IE 10+ */
        @include input-placeholder;
    }
    &:-moz-placeholder { /* Firefox 18- */
        @include input-placeholder;
    }
}

.medium {
    height: 30px;
    //width: $inputSizeMedium;
}

.small {
    width: $inputSizeSmall;
}

.focusBorder {
    border: 1px solid $blue;
}

.line {
    border: none;
    display: flex;
    border-bottom: 1px dashed $blue;
    background: transparent;

    .input {
        background: transparent;
        color: #788e97;
        border: none;
    }
}
