@import "../../../styles/vars";

.component {
    position: relative;
    border: none;
    font-family: $font-family-main;
    font-size: $font-size-regular;
    font-weight: $font-weight-regular;
    display: flex;
    align-items: center;
    border: 1px solid $grey;
    border-radius: $general-border-radius;
    background: $white;
    padding-left: 10px;
    height: 30px;
    border: 1px solid #bfd0d7;
    border-radius: 3px;
    box-sizing: border-box;
   

    &:hover {}

    &:focus {}
}

.large {
    width: $inputSizeLarge;
    height: 30px;

    .input {
        font-size: 2.2rem;
    }
}

.input {
    outline: none;
    width: 100%;
}

.medium {
    width: $inputSizeMedium;
}

.small {
    width: $inputSizeSmall;
}

.focusBorder {
    border: 1px solid $blue;
}

.line {
    border:none;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dashed $blue;
    padding-bottom: 5px;
    background: transparent;
   
    .input {
        background: transparent;
        color: #788e97;
        border: none;
    }
}