@import "../../../styles/vars.scss";

.component{
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px dashed $blue;
    padding-bottom: 7px;
    width: 450px;
    position: absolute;
    bottom: 17px;
    left: 62px;
}
.iconDoneWrapper{
    background-color: $blue;
    border-radius: 50%;
}