.componentWrapper{
    padding: 17px 0 22px;
    width: 100%;
    height: 114px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}
.iconDoneWrapper{
    background-color: #00adee;
    border-radius: 50%;
}
