@import "../../styles/style.scss";

.component {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    padding: 13px 5px;
    color: $grey;

    .iconElement {
        height: 26px;
        width: 28px;
        line-height: 26px;
        font-size: 24px;
    }

    div {
        @include text-medium($grey);
    }
}
