@import "../../../styles/mixins";

.component {
    display: flex;
    align-items: center;
    cursor: pointer;
    outline: none;
    
    &.disabled {
        cursor: default;

        .checkbox {
            background-color: $disabled-grey;
            border-color: $disabled-grey;
        }
    }

    // &:focus {
    //     .checkbox {
    //         color: $blue;
    //         border-color: $blue;
    //     }
    // }
}

.checkbox {
    font-family: $font-family-icons;
    font-weight: normal;
    color: $grey;
    height: 2rem;
    width: 2rem;
    font-size: $font-size-bigger;
    border: 1px solid $boxShadow-brown-light;
    border-radius: 0.2rem;
    line-height: normal;
    @include margin-horizontal(0,10px);

    

    &:hover {
        border-color: $blue;
    }
}

.checkIcon {
    height: 2rem;
    width: 2rem;
    font-size: $font-size-bigger; 
    visibility: hidden;
    &:hover {
        color: $blue;
    }
}

.checked {
    visibility: visible;
}

.input {
    opacity: 0;
    width: 0px;
    height: 0px;
    margin: 0px;

    &:focus ~ .checkbox {
        color: $blue;
        border-color: $blue;
    }
}
