@import "../../../styles/vars";

.component {
    font-family: $font-family-icons;
    color: $grey;
    height: 2rem;
    width: 2rem;
    font-size: $font-size-bigger;
    border: 1px solid $boxShadow-brown-light;
    border-radius: 0.2rem;

    &.checked {
        &:before {
            content: "\e911";
        }
    }

    &:hover {
        color: $blue;
        border-color: $blue;
    }

    &.disabled {
        background-color: $disabled-grey;
        border-color: $disabled-grey;
    }
}
