@import "../../../../styles/vars";

.component {
    position: relative;
    outline-color: $blue;
    outline-width: 1px;
    border: none;
    font-family: $font-family-main;
    font-size: $font-size-regular;
    font-weight: $font-weight-regular;

    //line-height: 1.21;
    padding-left: 10px;

    &:hover {}

    &:focus {}
}

.large {
    width: 356px;
    height: 30px;
    border: 1px solid #bfd0d7;
    border-radius: 3px;
    box-sizing: border-box;
}

.medium {
    width: 150px;
    height: 30px;
    border: 1px solid #bfd0d7;
    border-radius: 3px;
    box-sizing: border-box;
}

.small {
    width: 130px;
    height: 30px;
    border: 1px solid #bfd0d7;
    border-radius: 3px;
    box-sizing: border-box;
}

.icon {
    position: absolute;
    right: 10px;
    top: 3px;
}

.btn {
    position: absolute;
    right: 40px;
    top: 5px;
}

.iconOptinal {
    position: absolute;
    right: 5px;
    top: 2px;
}
