@import "../../styles/mixins";

.component {
    :global {
        .rc-tabs-bar,
        .rc-tabs-nav-container {
            font-size: 14px;
            line-height: 1.5;
            box-sizing: border-box;
            overflow: hidden;
            position: relative;
            white-space: nowrap;
            outline: none;
            zoom: 1;
            transition: padding .45s;
        }

        .rc-tabs-ink-bar {
            z-index: 1;
            position: absolute;
            box-sizing: border-box;
            margin-top: -3px;
            background-color: #108ee9;
            transform-origin: 0 0;
            width: 0;
            height: 0;
            top: unset;
        }

        .rc-tabs-tab:hover {
            color: #23c0fa;
        }

        .rc-tabs-left {
            color: #108ee9;
        }

        .rc-tabs-left .rc-tabs-tab-prev,
        .rc-tabs-left .rc-tabs-tab-next {
            transition: width .3s, height .3s, opacity .3s;
        }

        .rc-tabs-nav-scroll {
            transition: width .3s, height .3s, opacity .3s;
        }

        .rc-tabs-bottom .rc-tabs-ink-bar {
            height: 2px;
        }

        .rc-tabs-top {
            border-bottom: 2px solid #f3f3f3;
        }

        .rc-tabs-top .rc-tabs-bar {
            border-bottom: 1px solid #f3f3f3;
        }

        transition: width .3s, height .3s, opacity .3s;
    }

    .rc-tabs-top .rc-tabs-ink-bar {
        height: 2px;
    }

    [dir="rtl"] .rc-tabs-top .rc-tabs-ink-bar {
        right: 0;
        left: unset;
    }
}
