@import "../../../styles/vars.scss";

.component {


}

.dropDownElements {
    height: 30px;
    position: relative;
}

.inputSmall {
    height: 30px;
    border-radius: $input-border-radius;
    @include border($input-border-grey);
    z-index: 3;
    position: absolute;
    box-sizing: border-box;
    &:hover{
        border-color: $blue;
    }
}

.optionsWrapper {
    background: $white;
    position: absolute;
}

.dropDownResult {
    height: 30px;
    background:$tag-background-grey;
    color: $white;
    display: inline-block;
    line-height: 30px;
    padding: 0 10px;
    border-radius: $input-border-radius;
    position: relative;
}
.dropDownHide {
    overflow: hidden;
    height: 30px;
    border-radius: $input-border-radius;
}

.boxShadow {
    box-shadow: 0 10px 20px 0 $boxShadow-brown-dark;
    width: 100%;
    margin-left: -5px;
    margin-top: -5px;
    padding: 5px;
    border-radius: $input-border-radius;
    z-index: 2;
    box-sizing: content-box;
}

.drop-down_icon-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    background: $white;
}

.dropDownIconWrapper {
    position: absolute;
    top: 2px;
    right: 0;
}

.borderColorBlue {
    border: 1px solid $blue;
}

.ul li {
    color:$blue;
    &:hover {
        background-color: $background-color-blue;
        border-radius: $input-border-radius
    }
}

.ul li:first-child {
    height: 27px;

    &:hover {
        background-color: $white;
    }
}

.ul li:nth-child(2) {
    margin-top: 11px;
}

.active {
    color:$blue;
}
.small{
    width:$inputSizeSmall;
}
.medium{
    width:$inputSizeMedium;
}
.large{
    width:$inputSizeLarge;
}