$is-reset-css: true !default;

@mixin reset($selector) {
    
    *, *:before, *:after {
        box-sizing: inherit;
    }

    #{$selector}, #{$selector}:before, #{$selector}:after {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        vertical-align: baseline;
        box-sizing: border-box;
        direction: inherit;
    }

    // article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    //     display: block;
    // }

    // a, a:visited, a:hover {
    //     text-decoration: none;
    //     color: inherit;
    // }

    // body {
    //     line-height: 1;

    //     //background-color: red;
    // }

    // ol, ul, li {
    //     list-style: none;
    // }

    // blockquote, q {
    //     quotes: none;

    //     &:before, &:after {
    //         content: '';
    //         content: none;
    //     }
    // }

    // q {
    //     &:before, &:after {
    //         content: '';
    //         content: none;
    //     }
    // }

    // table {
    //     border-collapse: collapse;
    //     border-spacing: 0;
    // }

    // button {
    //     background-color: transparent;
    //     outline: none;
    //     border: 0;
    //     cursor: pointer;
    // }
}


@mixin reset-css($reset-selector: null) {
    @if $is-reset-css == true {
        @include reset('*')
    }
    @else if $reset-selector != null {
        @include reset($reset-selector);
    }
}

@include reset-css();
