*, *:before, *:after {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
}

@mixin reset-css($reset-selector: null) {
    @if $is-reset-css == true {
        @include reset('*')
    }
    @else if $reset-selector != null {
        @include reset($reset-selector);
    }
}

@include reset-css();
