$icon-font-path: "../../fonts" !default;

@font-face {
  font-family: "icomoon";
  src: url("#{$icon-font-path}/icomoon.eot?gulf9n");
  src: url("#{$icon-font-path}/icomoon.eot?gulf9n#iefix")
      format("embedded-opentype"),
    url("#{$icon-font-path}/icomoon.ttf?gulf9n") format("truetype"),
    url("#{$icon-font-path}/icomoon.woff?gulf9n") format("woff"),
    url("#{$icon-font-path}/icomoon.svg?gulf9n#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-filter-big:before {
  content: "\e900";
}
.icon-icon---clear-search:before {
  content: "\e908";
}
.icon-icon-edit:before {
  content: "\e913";
}
.icon-icon-long-arrow-left:before {
  content: "\e916";
}
.icon-icon-long-arrow-right:before {
  content: "\e925";
}
.icon-icon-d-new:before {
  content: "\e901";
}
.icon-icon-f-new:before {
  content: "\e902";
}
.icon-icon-m-new:before {
  content: "\e903";
}
.icon-icon-r-new:before {
  content: "\e904";
}
.icon-icon-w-new:before {
  content: "\e905";
}
.icon-arrow-to-bottom:before {
  content: "\e906";
}
.icon-arrow-to-top:before {
  content: "\e907";
}
.icon-icon--calendar:before {
  content: "\e909";
}
.icon-icon-add-new:before {
  content: "\e90a";
}
.icon-icon-add-small:before {
  content: "\e90b";
}
.icon-icon-arrow_drop_down:before {
  content: "\e90c";
}
.icon-icon-arrow_drop_up:before {
  content: "\e90d";
}
.icon-icon-close-big:before {
  content: "\e90e";
}
.icon-icon-close-small:before {
  content: "\e90f";
}
.icon-icon-delete:before {
  content: "\e910";
}
.icon-icon-done:before {
  content: "\e911";
}
.icon-icon-dots:before {
  content: "\e912";
}
.icon-icon-export-excel:before {
  content: "\e914";
}
.icon-icon-filter:before {
  content: "\e915";
}
.icon-icon-more:before {
  content: "\e917";
}
.icon-icon-notification:before {
  content: "\e918";
}
.icon-icon-refresh:before {
  content: "\e919";
}
.icon-icon-reorder:before {
  content: "\e91a";
}
.icon-icon-search:before {
  content: "\e91b";
}
.icon-icon-settings:before {
  content: "\e91c";
}
.icon-icon-share:before {
  content: "\e91d";
}
.icon-icon-star:before {
  content: "\e91e";
}
.icon-icon-tabs-arrow-reg:before {
  content: "\e91f";
}
.icon-question-circle:before {
  content: "\e920";
}
.icon-search-between-v4:before {
  content: "\e921";
}
.icon-search-contains-v2:before {
  content: "\e922";
}
.icon-search-equal:before {
  content: "\e923";
}
.icon-search-not-equal:before {
  content: "\e924";
}
