// Switch icons direction in RTL mode.
@import "./mixins.scss";


@include rtl {

    .icon-arrow-left-big {
        transform: scaleX(-1);
    }

    .icon-arrow-right-big {
        transform: scaleX(-1);
    }

    .icon-icon-long-arrow-right {
        transform: scaleX(-1);
    }

    .icon-icon-long-arrow-left {
        transform: scaleX(-1);
    }
}

