/*
 * Global styles.
 */
@import "icons";
// Reset CSS
@import "reset";

// Variables declarations
@import "vars";

// Typography configuration
@import "typography";

// Element Skins
@import "./layout";

@import "./animations.scss";

.header {
    padding-top: 15px;
    padding-bottom: 15px;
    height: 114px;
}
