/*
 * Global styles.
 */
@import "icons";

@import "icons.rtl";

// Reset CSS
@import "reset";

// Variables declarations
@import "mixins";

// Typography configuration
@import "typography";

// Element Skins
@import "layout";

@import "animations";

.header {
    padding-top: 15px;
    padding-bottom: 15px;
    height: 114px;
}
