$black: #212529;
$dark: #2e4049;
$grey: #788e97;
$white: #fff;
$snow: #f4f6f8;
$silver: #ebedee;
$dark-blue: #004163;
$lighter-blue: rgba(0, 173, 238, 0.7);
$blue: #00adee;
$green: #60c5bb;
$light-green: rgba(96, 197, 187, 0.8);
$peach: #F37C70;
$purple: #9773B3;

$light-blue: rgba(0, 173, 238, 0.03);

$backdrop: rgba(33, 37, 41, 0.15);

$disabled-grey: #d6dddf;

$light-stroke: #e2eaf1;
$light-gray-stroke: #d0dbe0;
$tag-background: rgba(110,129,138,0.5);
$tag-active-background: rgb(110,129,138);
$tag-box-shadow: 0 5px 10px 0 rgba(6, 32, 42, 0.2);

$background-color-blue: #D9F6F9;
$background-color-dark-grey: #2E4049; //duplicate of "$dark"

$clickable-hover-active: $purple;

$boxShadow-brown-light: rgba(120, 142, 151, 0.3);
$boxShadow-brown-dark: rgba(0, 0, 0, 0.2);
$boxShadow-brown: rgba(0, 173, 238, 0.15);

$font-family-main: "Roboto", sans-serif;
$font-family-serif: "Bree Serif", serif;
$font-family-main-hebrew: "Arimo", sans-serif;
$font-family-titles-hebrew: "Heebo";
$font-family-icons: "icomoon" !important;

$font-size-base: 62.5%;
$font-size-large: 2.8rem;
$font-size-medium: 2.2rem;
$font-size-bigger: 2rem;
$font-size-regular: 1.4rem;
$font-size-smaller: 1.3rem;
$font-size-small: 1.2rem;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$general-border-radius: 3px;

$input-border-radius: $general-border-radius;
$input-border-grey: #bfd0d7;

$inputSizeSmall: 130px;
$inputSizeMedium: 150px;
$inputSizeLarge: 360px;

// End Inputs

// Icons
$priority-icon-size: 2.4rem;
$priority-icon-size-small: 1.6rem;
