@import "../../styles/mixins";

.component {
    @include priority-icon;

    position: relative;
}

.hoverable {
    &:hover {
        cursor: pointer;
    }
}

.invisible {
    visibility: hidden;
}

.large {
    font-size: 49px;
}

.darkContainer {
    &.standart {
        &:before {
            color: $white;
        }
    }
}

.standart {
    &:before {
        color: $grey;
    }

    &.hoverable {
    	&:hover {
	    	&:before {
	    		color: $blue;
	    	}
	    }
    }

    &.active {
        &:before {
            color: $dark-blue;
        }
    }
}

.primary {
    &:before {
        color: $blue;
    }

    &.hoverable {
    	&:hover {
	    	&:before {
	    		color: $dark-blue;
	    	}
	    }
    }

    &.active {
        &:before {
            color: $dark-blue;
        }
    }
}

.white {
    color: $white;
}

.blue {
    color: $blue;
}

.grey {
    color: $grey;
}

.black {
    color: $black;
}

.dark {
    color: $dark;
}

.disabled {
    color: $disabled-grey;
    cursor: default;
}