@import "../../styles/mixins";

.component {
    @include priority-icon;
    position: relative;
    &:hover {
        cursor: pointer;
    }
}

.visible {
    display: block;
}
.large{
    font-size: 49px;
}
