@import "../../../styles/vars";

.component {
    height: 30px;
    border-radius: $general-border-radius;
    font-size: $font-size-regular;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    
}

.regularFixed {
    width: 120px;
}

.fullWidth {
    width: 100%;
}

.contentWidth {
    width: unset;
}

.regular {
    background: $blue;
    color: $white;
}

.secondary {
    background: $green;
    color: $white;
    box-shadow: 0 5px 15px 0 $boxShadow-brown;

    &:hover {
        background: linear-gradient(253deg, #60c5bb, rgba(96, 197, 187, 0.8));
      
    }
    &:active{
        border: 1px solid #B2E4E0;
        box-shadow: 0 5px 10px 0 rgba(11, 56, 51, 0.5);
        background: linear-gradient(253deg, #60c5bb, rgba(96, 197, 187, 0.8));
        color: $white;

    }
}


.secondaryDisabled {
    background: $grey;
    color: $snow;
    opacity: 0.2;

    &:hover {
        background: $grey;
    }
}

.stroke {
    background: $dark;
    border: solid 1px $white;
    color: $white;

    &:hover {
        border: solid 1px $blue;
        box-shadow: 0 5px 15px 0 $boxShadow-brown;
    }
    &:active{
        background: $white;
        color: $blue;
        box-shadow: 0 5px 10px 0rgba(0,0,0,0.20);
    }
}

.strokeDisabled {
    background: $dark;
    color: $grey;
    border: 1px solid $grey;
    
    &:hover {
        border: 1px solid $grey;
        box-shadow: none!important;
    }
}

.roundStrokeIcon {
    width: 30px;
    border-radius: 50%;
    border: 2px solid $blue;
    justify-content: center;
}

.darkTheme {
    &.component {
        height: 40px;
        font-weight: $font-weight-bold;
    }

    &.roundStrokeIcon {
        height: 30px;
    }
}

.small {
    background: $blue;
    color: $white;

    &.component {
        height: 20px;
        padding: 0 10px;
        font-size: $font-size-regular;
    }
}

@include withRTL {
    .component {
        font-family: $font-family-main;
        height: 500px;
    }

    .title .icon {
        margin-right: 0;
        margin-left: 7px;
    }
}
