@import "../../../styles/vars";
@import "../../../styles/mixins";

.component {
    height: 30px;
    border-radius: 3px;
    font-size: 14px;
    padding: 0 13px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    font-weight: $font-weight-bold;
    font-family: $font-family-main;
    cursor: pointer;

    // reset
    outline: none;
    border: 0;

    @include rtl() {
        font-family: $font-family-main-hebrew;
    }
}

// skin

.primary {
    background: $blue;
    color: $white;

    &.elevated {
        box-shadow: 0 5px 15px 0 $boxShadow-brown;
    }

    &:hover {
        background-color: $white;
        background-image: linear-gradient(250deg, #00adee, rgba(0, 173, 238, 0.7))
    }

    &:active {
        background-color: $background-color-dark-grey;
        background-image: none;

        &.elevated {
            box-shadow: 0 5px 10px 0 rgba(11, 56, 51, 0.5);
        }
    }
}

.secondary {
    background: $green;
    color: $white;

    &.elevated {
        box-shadow: 0 5px 15px 0 $boxShadow-brown;
    }

    &:hover {
        background-color: $white;
        background-image: linear-gradient(253deg, #60c5bb, rgba(96, 197, 187, 0.8));
    }

    &:active {
        background-color: $background-color-dark-grey;
        background-image: none;

        &.elevated {
            box-shadow: 0 5px 10px 0 rgba(11, 56, 51, 0.5);
        }
    }
}

.stroke {
    background-color: $white;
    border: solid 1px $blue;
    color: $blue;

    &:hover {
        color: $white;
        background-image: linear-gradient(250deg, #00adee, rgba(0, 173, 238, 0.7));
    }

    &:active {
        color: $white;
        background-color: $background-color-dark-grey;
    }
}

.strokeLight {
    background-color: $white;
    border: solid 1px $light-gray-stroke;
    color: $grey;

    .icon {
        color: $blue;
    }

    &:hover {
        border-color: $blue;
        color: $blue;
    }

    &:active {
        background-color: $blue;
        color: $white;
    }
}

// darkContainer

.darkContainer {

    &.primary, &.secondary {
        &:active {
            border: 1px solid #B2E4E0;
            background-color: $white;
        }
    }

    &.primary:active {
        background-image: linear-gradient(250deg, #00adee, rgba(0, 173, 238, 0.7));
    }

    &.secondary:active {
        background-image: linear-gradient(253deg, #60c5bb, rgba(96, 197, 187, 0.8));
    }

    &.stroke, &.strokeLight {
        background: $dark;
        border: solid 1px $white;
        color: $white;

        &:hover {
            border: solid 1px $blue;
            box-shadow: 0 5px 15px 0 $boxShadow-brown;
        }

        &:active {
            background: $white;
            color: $blue;
            box-shadow: 0 5px 10px 0 rgba(0,0,0,0.20);
        }
    }
}

// disabled

.disabled {
    background: $disabled-grey;
    color: $white;
    opacity: 0.3;
    cursor: default;

    &.strokeLight {
        color: $disabled-grey;
        background-color: $white;
    }

    &.darkContainer {
        background: $grey;
        color: $snow;
        opacity: 0.2;

        &.stroke, &.strokeLight {
            background: $dark;
            color: $grey;
            border: 1px solid $grey;
            opacity: 0.3;
        }
    }
}

// width

.regularFixed {
    width: auto;

    &.small {
        min-width: 70px;
    }

    &.medium {
        min-width: 95px;
    }

    &.large {
        min-width: 120px;
    }
}

.fullWidth {
    width: 100%;
}

.contentWidth {
    width: unset;
}

.small {
    height: 20px;
    font-size: 13px;

    &.square,&.round {
        width: 20px;
        min-width: 20px;
    }

    .icon {
        @include priority-icon($priority-icon-size-small);
    }
}

.medium {
    height: 30px;
    font-size: 14px;

    &.square,&.round {
        width: 30px;
        min-width: 30px;
    }
}

.large {
    height: 40px;
    font-size: 14px;

    &.square,&.round {
        width: 40px;
        min-width: 40px;
    }
}

// shape

.round {
    border-radius: 50%;
    justify-content: center;
}

.square, .round {
    padding: 0;
}

// icon

.title .icon {
    @include margin-horizontal(0,7px);
}
