@import "../../../styles/vars";

.component {
    height: 30px;
    border-radius: 3px;
    box-shadow: 0 5px 15px 0 $boxShadow-brown;
    font-size: 14px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.regularFixed {
    width: 120px;
}

.fullWidth {
    width: 100%;
}

.contentWidth {
    width: unset;
}

.regular {
    background-color: $blue;
    color:$white;
}
.secondary{
    background-color: $green;
    color:$white;
}
.stroke {
    background-color: $white;
    border: solid 1px $blue;
    color: $blue;


    &:hover {
        color: $white;
        background-color: $blue;
    }
}

.roundStrokeIcon {
    width: 30px;
    border-radius: 50%;
    border: 2px solid $blue;
    justify-content: center;
}

.active {
    background: $dark;
}

.disabled {
    background: $disabled-grey;
    opacity: 0.3;
}

.darkTheme {
    &.component {
        height: 40px;
        font-weight: $font-weight-bold;
    }

    &.roundStrokeIcon {
        height: 30px;
    }
}
.small{   
    background-color: $blue;
    color:$white;
    &.component {
        height: 20px;
       padding: 0 10px;
    }
}