@import "../../../../styles/main.scss";

.component {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: transparent;
}

.default {
    background-color: $white;
}

.header {
    background-color: $silver;
}

.light {
    background-color: $silver;
}

.dark {
    background-color: $dark;
}
