@import "../../../styles/main.scss";

.component {
    height: 26px;
    width: 28px;
    line-height: 26px;
    font-size: 24px;

}

.checked {
    &:before {
        content: "V";
    }
}

$border-radius: 3px;

.container-for-drop-down{
    border: solid 1px #00adee;
    width: 560px;
    height: 133px;
    margin: auto;
    margin-top: 15px;
    padding: 0 20px;
    border-radius: 3px;
}
.drop-down-title{
    height: 43px;
    width: 100%;
    position: relative;
    display: inline-block;
    line-height: 43px;
}
.drop-down-inputs{
    display:flex;
    align-items: center;
    height: 43px;
    position: relative;
}
.input-small{
    width:150px;
    height: 30px;
    border-radius: $border-radius;
    border: 1px solid #bfd0d7; 
    position: absolute;
    z-index: 3;
    display: flex;
    justify-content: flex-end;
}
.options-wrapper{
    background: white;
    width:160px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top:-5px;
    left:-5px;
    z-index: 2;
    padding-top: 7px;
}
.input-big{
    width:360px;
    height: 30px;
    border: 1px solid #bfd0d7; 
    border-radius: $border-radius;
    margin-left: 180px;
    background: white;
}
.drop-down-resalt{
    height: 30px;
    background: #6e818a;
    color:white;
    display: inline-block;
    line-height: 30px;
    padding: 0 10px;
    border-radius: $border-radius;
    position: relative;
}
.drop-down-resalts-container{
    margin-top: 5px;
}
.options-to-choose{
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
}
.drop-down-hide{
    height:40px;
    overflow: hidden;
}
