@import "../../../styles/vars";
.component{
    width:356px;
    height: 30px;
    @include border($input-border-grey);
    border-radius: $input-border-radius;
    box-sizing: border-box;
    position: relative;
    &:hover {
        border-color: $blue;
    }
    &:hover .iconClose{
        display: block;
    }
}
.component>div>div>div{
    height: 40px;
    line-height: 40px;
    font-style: normal;
    padding: 0 10px;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    border-bottom: 1px solid $silver;

    &:hover {
       border: 1ps solid $blue;
    }
}
.component>div, .component>div>div{
    width:100%;
    height: 100%;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    font-style: italic;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: normal;
    color: $grey;
    position: relative;

}

.component>div>input{
    height: 100%;
    padding: 0 10px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    font-style: italic;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: normal;
    color: $grey;
    outline:none;
    border-radius: $input-border-radius;
    width:100%;
    z-index: 6;
    position: absolute;
    &:focus{
        box-shadow: 0 0 0 1px $blue;
    }
    
}
.inputCheckbox{
    width: 20px!important;
    position: static!important;
}
.iconClose{
    position: absolute!important;
    width: auto!important;
    right: 10px!important;
    top: 0;
    z-index: 6;
    display: none;
   &>*{
        width: 2.4rem!important;
        height: 2.4rem!important;
        font-size: 2.4rem!important;
    }
}
