@import "../../../../styles/vars";
@import "../../../../styles/mixins";

.blocker {
    z-index: 1000001;
    position: fixed;
    top: 0;
    font-size: 1em;
    width: 100%;
    height: 100%;
    background-color: $backdrop;
}

.component {
    position: fixed;
    z-index: 1000002;
    bottom: 0;
    width: 620px;
    height: calc(100% - 46px);
    background-color: $white;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.2);
    transition: width 0.8s;
    outline: none;

    @include position-horizontal(null,0);

    .opacity {
        height: 100%;
    }
}

.enter {
    &.blocker {
        background-color: transparent;
    }

    .component {
        width: 0;

        .opacity {
            opacity: 0;
        }

        &.wide {
            width: 0;
        }
    }
}

.enterActive {
    &.blocker {
        background-color: $backdrop;
        transition: background-color 0.5s;
    }

    .component {
        width: 620px;
        transition: width 0.5s;

        .opacity {
            opacity: 1;
            transition: opacity 0.5s linear 0.2s;
        }

        &.wide {
            width: 800px;
        }
    }
}

.leave {
    &.blocker {
        background-color: $backdrop;
    }

    .component {
        width: 620px;

        .opacity {
            opacity: 1;
        }

        &.wide {
            width: 800px;
        }
    }
}

.leaveActive {
    &.blocker {
        background-color: transparent;
        transition: background-color 0.5s;
    }

    .component {
        width: 0;
        transition: width 0.5s;

        .opacity {
            opacity: 0;
            transition: opacity 0.2s;
        }

        &.wide {
            width: 0;
        }
    }
}

// @include animation1();