@import "../../../styles/mixins";

.component {
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    font-size: $font-size-regular;
    color: $grey;
    font-weight: 500;
    white-space: nowrap;
        
    @include padding-horizontal(1rem, null);

    @include rtl {
        font-family: $font-family-main-hebrew;
    }

    div[class^="Icon-module"] {
        @include margin-horizontal(1rem, null);
    }
}

.href {
    text-decoration: underline !important;
    //color: $grey;
}

.underline {
    text-decoration: underline !important;
    font-weight: bold;
}

.clickable {
    cursor: pointer;
}

.large {
    font-size: $font-size-medium;
    color: $grey;
}

.regular {
    font-size: $font-size-regular;
    color: $grey;
}

.regular-hight-contrast {
    font-size: $font-size-regular;
    color: $black;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    font-weight: 500;
}

.small {
    font-size: $font-size-small;
    color: $black;
}

.darkTheme {
    &.regular-hight-contrast {
        color: $white;
    }
}

.white {
    color: $white;
}

.blue {
    color: $blue;
}

.grey {
    color: $grey;
}

.black {
    color: $black;
}

.dark {
    color: $dark;
}

.bold {
    font-size: $font-size-regular;
    font-weight: bold;
}

.small-bold {
    color: $black;
    opacity: 0.7;
    font-family: Roboto;
    font-size: $font-size-small;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
}
