@import "../../../styles/vars";

.component {
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    font-size: $font-size-regular;
    color: $grey;
    padding: 0 1rem;
}

div[class^="icon-"], div[class*=" icon-"] {
    padding-right: 3rem;
}

.href {
    text-decoration: underline !important;
    color: $grey !important;
}

.large {
    font-size: $font-size-medium;
    color: $grey;
}

.regular {
    font-size: $font-size-regular;
    color: $grey;
}

.regular-hight-contrast {
    font-size: $font-size-regular;
    color: $black;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    font-weight: 500;
}

.small {
    font-size: $font-size-small;
    color: $black;
}

.darkTheme {
    &.regular-hight-contrast {
        color: $white;
    }
}

.white {
    color: $white;
}

.blue {
    color: $blue;
}

.grey {
    color: $grey;
}

.black {
    color: $black;
}

.bold {
    color: $black;
    font-size: 14px;
    font-family: Roboto;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}

.small-bold {
    color: $black;
    opacity: 0.7;
    font-family: Roboto;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
}
