@import "../../../../../styles/vars";

.component {
    width: 100%;
    line-height: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.flex-start {
    justify-content: flex-start;
}

.flex-end {
    justify-content: flex-end;
}

.center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.topPadding {
    padding-top: 10px;
}

.bottomPadding {
    padding-bottom: 10px;
}
