@import "../../../../styles/mixins";

.component {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;

    & > * {
        @include margin-horizontal(null, 5px);
    }

    & > *:last-child {
        @include margin-horizontal(null, 0);
    }
}
