@import "../../../../styles/vars";

.component {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;

    & > * {
        margin-right: 5px;
    }

    & > *:last-child {
        margin-right: 0;
    }
}

