$icon-font-path: "../node_modules/priority-style-react/fonts";

// additional reset css for selected components
.reset-css {
    *, *:before, *:after {
        line-height: normal;
        vertical-align: baseline;
        box-sizing: border-box;
    }

    a, a:visited, a:hover {
        text-decoration: none;
        color: inherit;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
    }

    button {
        background-color: transparent;
        outline: none;
        border: 0;
        cursor: pointer;
    }

    ol, ul, li {
        list-style: none;
    }
}

// end reset css for selected components

@import "../node_modules/priority-style-react/src/styles/main";
