$icon-font-path: "../node_modules/priority-style-react/fonts";

@import "../node_modules/priority-style-react/src/styles/main";

.App {
    margin: 50px;
    > * {
        margin-bottom: 10px;
    }
}

.row {
    justify-content: flex-start;
    align-items: stretch;
    > * {
        margin-right: 10px;
    }
}

.buttons-container {
    width: 250px;
    > * {
        margin-bottom: 10px;
    }
}