@import "../../../styles/vars";
.component{
    width:356px;
    height: 30px;
    margin-top: -12px;////have to change 
    box-sizing: border-box;
}
.input{
    width: 356px;
    height: 30px;
    padding: 0 10px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    font-style: italic;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: normal;
    color: $grey;
    position: absolute;
    z-index: 4;
    @include border($input-border-grey);
    border-radius: $input-border-radius;
  
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    box-shadow: 0 0 0 30px white inset;
}
  .no-suggestions {
    color: $grey;
    padding: 0.5rem;
  }
  .ul{
    border-top-width: 0;
    list-style: none;
    margin-top: 0;
    overflow-y: auto;
    box-shadow: 0 10px 20px 0 $boxShadow-brown-dark;
    width: 366px;
    margin-left: -5px;
    margin-top: -5px;
    padding: 5px;
    border-radius: $input-border-radius;
    z-index: 2;
    position: absolute;
    background: white;
    padding-top: 45px;
  }
  .suggestion {
    margin: 2px 7px;
    display: flex;
    height: 40px;
    align-items: center;
    padding-left: 10px;
    color: $grey;
    &:hover {
      background-color: $background-color-blue;
  }
  }
