@import "../../../../styles/vars";

.component {
    width: 100%;
    //display: flex;
    //flex-flow: column;
    //justify-content: flex-start;
    //align-items: center;
    padding: 0 30px;
    position: relative;
    margin: 10px 0;

    &:first-child {
        margin: 0;
    }
}

.flexStart {
    justify-content: flex-start;
}

.flexEnd {
    justify-content: flex-end;
}

.spaceBetween {
    justify-content: space-between;
}

.default {
    background-color: $white;
}

.silver {
    background-color: $silver;
}

.snow {
    background-color: $snow;
}

.light {
    background-color: $silver;
    border: 1px solid $light-stroke;
}

.dark {
    background-color: $dark;
}
