@import "../../../styles/mixins";

.component {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    background-image: $white;
    background-color: $snow;
    border: 1px solid $light-stroke;
    padding: 17px 20px 15px;
    cursor: pointer;
    outline: none;

    &.hoverable:hover {
        background-color: $light-blue;
        border: 1px solid $blue;

        .closeContainerIcon {
            display: block;
        }
    }
}

.roundConer {
    border-radius: $general-border-radius;
}

.active {
    border: 1px solid $blue;
    background-color: $light-blue;
}

.regular {
    width: auto;
}

.closeContainerIcon {
    display: none;
    position: absolute;

    @include position(5px, 5px, null, null);
}

.dragIcon {
    display: none;
    position: absolute;
    top: 20%;

    @include position-horizontal(-12px);
}

.displayBlock {
    display: block;
}

.transparent {
    background-color: transparent;
}

.default {
    background-color: $white;
}

.silver {
    background-color: $silver;
}

.snow {
    background-color: $snow;
}

.light {
    background-color: $silver;
    border: 1px solid $light-stroke;
}

.dark {
    background-color: $dark;
    padding: 30px;
}
