@import "../../styles/mixins";
@import "../../styles/vars";

.component {
    :global {
        .rc-table {
            width: 100%;
        }

        .rc-table-body {
            @media screen and (max-width: 800px) {
                padding: 30px;
            }
        }

        table {
            padding: 30px;
            border-collapse: collapse;

            @media screen and (max-width: 800px) {
                width: auto;
                margin: auto;
            }
        }

        .rc-table-thead {
            color: $grey;
            font-size: $font-size-regular;

            //TODO: move to vars
            @media screen and (max-width: 800px) {
                padding: 5px 0;
            }
        }

        .rc-table-thead tr {
            height: 60px;

            @media screen and (max-width: 800px) {
                display: none;
            }
        }

        .rc-table-thead tr th {
            vertical-align: middle;
            text-align: left;
            padding: 15px;
        }

        .rc-table-row {
            color: $black;
            font-size: 1.6rem;
            font-weight: 500;
            height: 60px;

            @media screen and (max-width: 800px) {
                border: 2px solid rgba(120, 142, 151, 0.1);
                border-radius: 3px;
                margin-bottom: 14px;
                padding: 20px;
            }
        }

        .rc-table-row td {
            vertical-align: middle;
            padding: 15px;
        }

        .rc-table-row:hover {
            background-color: rgba(0, 173, 238, 0.1);
        }
    }
}
