@import "../../../../../styles/vars";

.component {
    height: 100%;
}

.gradient {
    width: 100%;
    height: 100px;
    position: absolute;
    z-index: 1;
    bottom: 0px;
    background-image: linear-gradient(to bottom, transparent, $white);
}

.scrollArea {
    direction: ltr;
}

.thumbVertical {
    background-color: $silver;
    width: 6px !important;
    border-radius: 3px;
}
