//@import "../../../styles/entry";

.component {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid;
    text-align: center;
    line-height: 3rem;
    cursor: pointer;
    border-color: #00adee;
    color: #00adee;

    &:before {
        content: "\e916";
    }
}

.componentWrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}
