@import "../../../styles/vars";

.component {
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    font-size: $font-size-regular;
    color: $grey;
    padding: 0 1rem;
}

.href {
    text-decoration: underline !important;
    color: $grey !important;
}

.large {
    font-size: $font-size-medium;
    color: $grey;
}

.regular {
    font-size: $font-size-regular;
    color: $grey;
}

.regular-hight-contrast {
    font-size: $font-size-regular;
    color: $black;
}

.small {
    font-size: $font-size-small;
    color: $black;
}

.padding-regular {
    padding: 0 0.5rem;
}

.padding-double {
    padding: 0 1rem;
}

.darkTheme {
    &.regular-hight-contrast {
        color: $white;
    }
}
